---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Html', 'JavaScript', 'CSS', 'Shell', 'Python', 'Java', 'PHP', 'SQL']
const frontend = ['TypeScript', 'Astro']
const backend = ['Netlify', 'Waline', 'Node.js', 'MongoDB', 'MySQL', 'PostgreSQL']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Indonesia' as='a' href='https://www.google.com/maps/place/Indonesia'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Source code'
            as='a'
            href='https://github.com/farrosfr/farrosfr-site'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Web Developer / Security Enthusiast</p>
        <p class='text-muted-foreground'>
          In web development, specializing in building robust solutions using WordPress and modern Jamstack architecture. In cybersecurity, focusing on penetration testing, ethical hacking, and discovering vulnerabilities. Sharing findings and knowledge through this blog.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      <Section title='Education'>
        <Card
          as='a'
          heading='Statistics'
          subheading='Sepuluh Nopember Institute of Technology'
          date='Aug 2015 - Sep 2019'
          href='https://www.neliti.com/publications/323506/topic-discovery-pada-dokumen-abstrak-jurnal-penelitian-di-science-direct-menggun'
        />
        <Card
          as='a'
          heading='Internet of Things Bootcamp'
          subheading='Digital Talent Schoolarship Kominfo'
          date='Jun - Aug 2019'
          href='https://drive.google.com/file/d/11KEiT6UmrAZd1SQkL3ePOyR_4T0An4vz/view'
          target='_blank'
        />
        <Card
          heading='Enterprise Full-Stack Developer Bootcamp'
          subheading='Praxis Academy'
          date='Oct 2019'
        />
        <Card
          as='a'
          heading='Data Engineering Bootcamp'
          subheading='Multipolar Technology'
          date='Oct - Nov 2019'
          href='https://drive.google.com/file/d/1-tJgXTy3M-zeZoFtbZ98pEhDWkKs9PEA/view'
          target='_blank'
        />
      </Section>

      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://aurora-nutrima.id'
            heading='Aurora Nutrima Boga'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://profile.sonushub.id'
            heading='SonusHUB Profile'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://kidiko.id'
            heading='Kidiko ID'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>

      <Section title='Certifications'>
        <Card
          as='a'
          heading='Azure Fundamental (AZ-900)'
          subheading='Microsoft'
          date='Jan 2022'
          href='https://learn.microsoft.com/id-id/users/farrosfr/credentials/a05b92e878c7edd9?ref=https%3A%2F%2Fwww.linkedin.com%2F'
          target='_blank'
        />
        <Card
          as='a'
          heading='Responsive Web Design'
          subheading='freeCodeCamp'
          date='Mar 2024'
          href='https://www.freecodecamp.org/certification/farrosfr/responsive-web-design'
          target='_blank'
        />
        <Card
          as='a'
          heading='Introduction to Information Security'
          subheading='Cyber Academy Indonesia'
          date='Mar 2024'
          href='https://www.cyberacademy.id/certificate/PKMI01103240785'
          target='_blank'
        />
        <Card
          as='a'
          heading='Introduction to Cybersecurity'
          subheading='Cisco'
          date='Jan 2025'
          href='https://www.netacad.com/certificates?issuanceId=a26328ab-abab-403d-80c1-c0be6232eb83'
          target='_blank'
        />
        <Card
          as='a'
          heading='Cybersecurity for Small and Medium Size Business'
          subheading='EC-Council'
          date='Jan 2025'
          href='https://codered.eccouncil.org/certificate/20752b60-d52d-47d5-b72b-e55a33d48ab0'
          target='_blank'
        />
        <Card
          as='a'
          heading='Introduction to Cyber Security Certificate'
          subheading='TryHackMe'
          date='Feb 2025'
          href='https://tryhackme-certificates.s3-eu-west-1.amazonaws.com/THM-QRGNXAUUOF.pdf'
          target='_blank'
        />
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
      </Section>
    </div>
    </main>
</PageLayout>