---
import links from 'public/links.json'
import config from 'virtual:config'

import { Comment } from 'astro-pure/advanced'
import { Timeline, Card } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'friends', text: 'Friends' },
  { depth: 2, slug: 'my-info', text: 'My Info' }
]

const { friends } = links
const myInfo = config.integ.links.applyTip
---

<PageLayout title='Links' {headings} info='/links'>
  <!-- <p>Here are some of my friends and other interesting sites I follow. The order is random.</p>
  
  <h2 id='friends'>Friends</h2>
  <div class="not-prose grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {friends.map(friend => (
      <a href={friend.link} target="_blank" rel="noopener noreferrer" class="no-underline">
        <Card class="h-full flex items-center p-4">
          <img src={friend.avatar} alt={`${friend.name}'s avatar`} class="w-12 h-12 rounded-full mr-4"/>
          <div>
            <h3 class="text-lg font-semibold m-0">{friend.name}</h3>
            <p class="text-sm text-muted-foreground m-0">{friend.intro}</p>
          </div>
        </Card>
      </a>
    ))}
  </div> -->

  <h2 id='my-info'>My Info</h2>
  <p>If you'd like to connect or add me to your friend list, here is my site's information (click to copy):</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-4 gap-y-2 break-words border-s-4 ps-4 items-center'>
    {
      myInfo.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='font-semibold text-end'>{name}:</span>
            <samp class='cursor-pointer bg-muted text-muted-foreground rounded px-2 py-1' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    If you'd like to exchange links, please ensure:
  </p>
  <ul>
    <li>You have already added my site to your links page.</li>
    <li>Your site is online and accessible.</li>
    <li>The content on your site does not violate any laws.</li>
  </ul>
  <p>
    You can reach out to me via my social media channels to request a link exchange.
  </p>

  <Comment slot='bottom' />
</PageLayout>