---
import { Footer, Header, ThemeProvider } from 'astro-pure/components/basic'
import type { SiteMeta } from 'astro-pure/types'
import BaseHead from '@/components/BaseHead.astro'
import config from '@/site-config'

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseLayout /> component.
import '@/assets/styles/app.css'

// 1. Definisikan bahwa komponen ini bisa menerima 'language'
interface Props {
  meta: SiteMeta
  highlightColor?: string
  language?: string // Prop untuk bahasa
}

const {
  meta: { articleDate, description = config.description, ogImage, title },
  highlightColor,
  // 2. Ambil 'language'. Jika tidak ada, pakai default dari config
  language = config.locale.lang,
  ...props
} = Astro.props

//3. Gunakan variabel 'language' yang dinamis, BUKAN dari config lagi
//<html lang={config.locale.lang}>
---
<html lang={language}>
  <head>
    <BaseHead {articleDate} {description} {ogImage} {title} />
    <ThemeProvider />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CYGXKE705K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CYGXKE705K');
    </script>
  </head>

  <body class='flex justify-center bg-background text-foreground' {...props}>
    {
      highlightColor && (
        <div
          id='highlight-gradient'
          class='pointer-events-none absolute start-0 top-0 z-0 h-screen w-full opacity-25'
          style={`background-image:linear-gradient(${highlightColor},transparent)`}
        />
      )
    }
    <div class='w-full max-w-[70rem] px-4 sm:px-7 lg:px-10'>
      <Header />
      <slot />
      <Footer />
    </div>

    {/* Set highlight color */}
    <style define:vars={{ highlightColor }}>
      :global(.highlight) {
        color: var(--highlightColor, hsl(var(--primary) / var(--un-text-opacity))) !important;
      }
      :global(.highlight-bg) {
        background-color: var(
          --highlightColor,
          hsl(var(--primary) / var(--un-text-opacity))
        ) !important;
      }
    </style>
  </body>
</html>
